<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herokuapp.sportstat.sportstat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name=".activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SportLoggingActivity"
            android:label="@string/title_activity_sport_logging" >
            <intent-filter>
                <action android:name=".activities.SportLoggingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameSummaryActivity"
            android:label="@string/title_activity_game_summary" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendViewActivity"
            android:label="@string/title_activity_friend_view" >
            <intent-filter>
                <action android:name=".activities.FriendViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AvatarGalleryActivity"
            android:label="@string/title_activity_avatar_gallery" >
        </activity>
    </application>

</manifest>
